.contact-header {
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #F2ECE7;
}

.contact-header__logo {
    color: #89827A;
    font-family: "Times New Roman", "MS Mincho", "serif";
    font-size: 20px;
}

.form {
    margin: 0 20% 50px;
}

.form__group {
    display: flex;
    padding: 20px 20px;
}

.form__title {
    width: 30%;
    font-size: 15px;
    color: #A69C97
}

.form__input {
    margin: 0 5px;
}

.form__input--name {
    text-decoration: none;
    padding: 5px 3px;
    margin: 0 10px;
    border: 1px solid #F4F4ED;
    color: #55544d;
    background-color: #F6F6F4;
    cursor: pointer;
}

.form__error--name {
    width: 90%;
    padding: 0 5%;
    font-size: 12px;
    margin: 3px auto 10px;
    text-align: left;
    color:#EB5757;
    background-color: #EDEDEB;
}

.form__input-check {
    margin: 0 -10px;
}

.form__input--label {
    margin: 0 30px;
    color: #A69C97;
    cursor: pointer;
}

.form__email {
    margin-left: 15px;
}

.form__email--text {
    max-width: 375px;
    text-decoration: none;
    padding: 10px 105px;
    border: 1px solid #F4F4ED;
    color: #55544d;
    background-color: #F6F6F4;
    cursor: pointer;
    font-size: 12px;
}

.form__email--text::placeholder {
    font-size: 10px;
}

.form__error--email {
    width: 96%;
    padding: 0 15%;
    font-size: 12px;
    margin: 3px 4% 10px;
    text-align: center;
    color: #EB5757;
    background-color: #EDEDEB;
}

.form__tel {
    margin-left: 15px;
    display: flex;
    padding: 5px 1px;
}

.form__tel--text {
    width: 100px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #F4F4ED;
    color: #55544d;
    background-color: #F6F6F4;
    cursor: pointer;
}

.form__error--tel {
    width: 90%;
    padding: 0 1%;
    font-size: 12px;
    margin-left: 7%;
    text-align: center;
    color: #EB5757;
    background-color: #EDEDEB;
}

.form__address {
    margin-left: 15px;
}

.form__address--text {
    max-width: 375px;
    text-decoration: none;
    padding: 10px 105px;
    border: 1px solid #F4F4ED;
    color: #55544d;
    background-color: #F6F6F4;
    cursor: pointer;
    font-size: 12px;
}

.form__address--text::placeholder {
    font-size: 10px;
}

.form__error--address {
    width: 96%;
    padding: 0 1%;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 3px;
    text-align: center;
    color: #EB5757;
    background-color: #EDEDEB;
}

.form__building {
    margin-left: 15px;
}

.form__building--text {
    max-width: 365px;
    text-decoration: none;
    padding: 10px 105px;
    border: 1px solid #F4F4ED;
    color: #55544d;
    background-color: #F6F6F4;
    cursor: pointer;
    font-size: 12px;
}

.form__building--text::placeholder {
    font-size: 10px;
}

.form__detail {
    margin-left: 15px;
}

.form__detail-select {
    width: 200px;
    padding: 3px 0;
    text-decoration: none;
    border: 1px solid #F4F4ED;
    background-color: #F6F6F4;
    color: #a2a29b;
    cursor: pointer;
}

.form__detail--option {
    color: #a2a29b;
}

.form__error--detail {
    width: 98%;
    padding: 0 2%;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 3px;
    text-align: center;
    color: #EB5757;
    background-color: #EDEDEB;
}

.form__textarea {
    margin-left: 15px;
}

.form__textarea--text {
    width: 365px;
    margin: 0 5px;
    padding: 20px 0px;
    text-decoration: none;
    border: 1px solid #F4F4ED;
    background-color: #F6F6F4;
    color: #55544d;
    cursor: pointer;
    font-size: 12px;
}

.form__textarea--text::placeholder {
    font-size: 12px;
}

.form__error--content {
    width: 95%;
    padding: 0 2%;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 3px;
    text-align: center;
    color: #EB5757;
    background-color: #EDEDEB;
}

.form__button {
    margin-top: 10px;
    text-align: center;
}

.form__button-submit {
    padding: 10px 10px;
    width: 100px;
    border: none;
    border-radius: 2px;
    background: #81776B;
    color: #fff;
    cursor: pointer;
}