body {
    margin: 0;
    max-width: 1230px;
}

.thanks__inner {
    padding: 20px 15px;
    font-size: 20em;
    position: absolute;
    top: 15%;
}

.thanks__logo {
    text-decoration: none;
    font-weight: bold;
    font-family: "Times New Roman", "MS Mincho", "serif";
    color: #b19c9c;
}

.confirm-thanks {
    padding: 20px 15px;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 100;
}

.confirm-thanks--item {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #867B72;
}

.home__link {
    padding: 15px 20px;
    position: absolute;
    top: 55%;
    left: 48%;
    z-index: 100;
}

.home__link--item {
    text-decoration: none;
    font-size: 15px;
    font-family: "Times New Roman", "MS Mincho", "serif";
    color: #fff;
    padding: 10px 20px;
    background-color: #867B72;    
}






